@value tablet, mobile from '@/styles/breakpoints.css';

.boardGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, minmax(70px, auto));
  grid-row-gap: 12px;
  grid-column-gap: 13px;
  height: fit-content;
  width: 100%;
  max-width: 1022px;

  @media all and (tablet) {
    grid-template-columns: repeat(auto-fill, minmax(247px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(68px, auto));
  }

  @media all and (mobile) {
    grid-template-columns: repeat(auto-fill, minmax(247px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(58px, 1fr));
  }
}

.pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  max-width: 1022px;
  gap: 12px;
  font-size: 1.4rem;
  margin-bottom: 24px;
  margin-top: -8px;
}
