@value tablet, mobile from '@/styles/breakpoints.css';

.boardGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-row-gap: 12px;
  grid-column-gap: 13px;
  height: 152px;
  width: 1022px;

  /* button device props 수정 후 media query 수정필요*/

  @media all and (tablet) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
    height: 224px;
    width: 504px;
  }

  @media all and (mobile) {
    grid-template-columns: repeat(1, minmax(100%, auto));
    grid-template-rows: repeat(6, 1fr);
    grid-row-gap: 8px;
    height: 388px;
    width: 260px;
  }
}

.pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 1030px;
  padding-bottom: 24px;
  gap: 12px;
  font-size: 1.4rem;

  @media all and (tablet) {
    width: 504px;
    padding-bottom: 20px;
  }
  @media all and (mobile) {
    width: 260px;
    
  }
}
