@value desktop, tablet from "@/styles/breakpoints.css";

.container {
  display: flex;
  width: 100%;
  height: 34px;
  margin: 12px 0;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;

  @media all and (tablet) {
    height: 38px;
  }

  @media all and (desktop) {
    height: 38px;
  }
}

.infoGroup {
  font-size: 1.4rem;
  gap: 8px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media all and (tablet) {
    gap: 12px;
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media all and (desktop) {
    gap: 12px;
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.profileImage {
  border-radius: 50%;
  margin: 13px 12px 13px 0px;
  width: 34px;
  height: 34px;

  @media all and (tablet) {
    margin: 13px 12px;
    width: 38px;
    height: 38px;
  }
  @media all and (desktop) {
    margin: 13px 12px;
    width: 38px;
    height: 38px;
  }
}