.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  border-radius: 4px;
  font-weight: var(--font-normal);
  font-size: 1.4rem;
}

.desktop {
  composes: wrapper;
  width: 84px;
  height: 32px;
}

.tablet {
  composes: wrapper;
  width: 72px;
  height: 30px;
}

.mobile {
  composes: wrapper;
  width: 109px;
  padding: 7px 37px;
  font-size: 1.2rem;
}

.small {
  composes: wrapper;
  width: 52px;
  padding: 7px 9px;
  font-size: 1.2rem;
}

.primary {
  background-color: var(--violet);
  color: var(--white);
}

.secondary {
  border: 1px solid var(--gray-30);
  background-color: var(--white);
  color: var(--violet);
}

.groupWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
