@value tablet, desktop from "@/styles/breakpoints.css";

.returnButton {
  color: var(--gray-70);
  font-size: 1.4rem;
  font-weight: var(--font-normal);
  line-height: normal;
  margin-bottom: 9px;
  display: flex;
  gap: 6px;

  @media all and (tablet) {
    font-size: 1.6rem;
    margin-bottom: 13px;
  }
  @media all and (desktop) {
    font-size: 1.6rem;
    margin-bottom: 13px;
  }
}
