@value tablet, mobile from "@/styles/breakpoints.css";

.input {
  box-sizing: border-box;
  padding: 14px 16px;
  background: var(--white);
  border-radius: 6px;
  border: 1px solid var(--gray-30);
  width: 484px;
  height: 48px;
  color: var(--gray-80);
  font-size: 1.6rem;
  font-weight: var(--font-light);

  @media all and (mobile) {
    width: 100%;
    max-width: 300px;
    height: 42px;
    font-size: 1.4rem;
  }
}

.middleInput {
  width: 366px;
}

.largeInput {
  width: 564px;
}

.input::placeholder {
  color: var(--gray-40);
}
.input:focus {
  border: 1px solid var(--violet);
  outline: none;
}

.errorInput {
  border: 1px solid var(--red);
}
.errorInput:focus {
  border: 1px solid var(--red);
}

.errorMessage {
  color: var(--red);
  margin-top: 8px;
  font-size: 1.4rem;
  font-weight: var(--font-light);
}
