@value tablet, desktop from "@/styles/breakpoints.css";

.mainContainer {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: auto;
  padding: 0px 12px 24px 12px;
  background: var(--gray-10);
  align-items: center;
  border-top: 1px solid var(--gray-30);

  @media all and (tablet) {
    width: auto;
    padding: 0px 20px 48px 0px;
    flex-direction: column;
  }

  @media all and (desktop) {
    width: auto;
    padding: 0px 20px 48px 0px;
    flex-direction: row;
    align-items: start;
  }
}

.infoContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 17px;
}

.info {
  display: flex;
  align-items: center;
  gap: 12px;
}

.chip {
  width: 8px;
  height: 8px;
  border-radius: 50px;
  background: var(--purple);
}

.sectionName {
  color: var(--black);
  font-size: 1.8rem;
  font-weight: var(--font-bold);
}

.toDo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  padding: 17px 12px 12px;
  border-bottom: 1px solid var(--gray-30);

  @media all and (desktop) {
    height: 100vh;
    border-bottom: none;
    border-right: 1px solid var(--gray-30);
  }
}

.onProgress {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  padding: 12px;
  border-bottom: 1px solid var(--gray-30);

  @media all and (desktop) {
    height: 100vh;
    border-bottom: none;
    border-right: 1px solid var(--gray-30);
  }
}

.done {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  padding: 12px;
  border-bottom: 1px solid var(--gray-30);

  @media all and (desktop) {
    height: 100vh;
    border-bottom: none;
    border-right: 1px solid var(--gray-30);
  }
}

.addButton {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 12px;

  @media all and (desktop) {
    margin-top: 48px;
  }
}
