@value tablet, desktop from "@/styles/breakpoints.css";

.nestedLayout {
  composes: itemContainer from '@/components/layout/layout.module.css';
}

.tableContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  @media all and (tablet) {
    align-items: start;
  }
  @media all and (desktop) {
    align-items: start;
  }
}

.marginDiv {
  margin-bottom: 31px;
  @media all and (tablet) {
    margin-bottom: 36px;
  }
  @media all and (desktop) {
    margin-bottom: 28px;
  }
}
