.inputContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.label {
  color: var(--gray-70);
  font-family: Pretendard;
  font-size: 1.8rem;
  font-weight: 500;
}

.violetLabel {
  composes: label;
  color: var(--violet);
}
