@value desktop, tablet from "@/styles/breakpoints.css";

.container {
  width: 260px;
  height: 836px;
  padding: 24px 16px;
  border-radius: 8px;
  background: var(--white);
  overflow: scroll;

  @media all and (tablet) {
    width: 504px;
    height: 592px;
    padding: 32px 28px;
  }

  @media all and (desktop) {
    width: 1030px;
    height: 600px;
  }
}

.header {
  color: var(--gray-70);
  font-size: 2rem;
  font-weight: var(--font-bold);

  @media all and (tablet) {
    font-size: 2.4rem;
  }

  @media all and (desktop) {
    font-size: 2.4rem;
  }
}

.searchBar {
  margin-top: 20px;
}

.label {
  display: none;
  color: var(--gray-40);
  font-size: 1.4rem;
  font-weight: var(--font-light);

  @media all and (tablet) {
    display: grid;
    grid-template-columns: 9fr 5.5fr 7fr;
    padding: 20px 0px 4px;
    font-size: 1.6rem;
  }

  @media all and (desktop) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 24px 0px 4px;
    font-size: 1.6rem;

  }
}

.inviteAccepted {
  display: none;
}

.tableItem {
  height: 120px;
  padding: 16px 0 8px;
  border-bottom: 1px solid var(--gray-20);

  @media all and (tablet) {
    height: 70px;
    padding: 20px 0px 20px 38px;
  }

  @media all and (desktop) {
    height: 72px;
    padding: 20px 20px 20px 36px;
  }
}

.tableItem:last-child {
  border-bottom: none;
}
