* {
  margin: 0;
  padding: 0;
  font-family: 'Pretendard';
  box-sizing: border-box;
  font-size: 10px;
}

body {
  background-color: var(--white);
  color: var(--black);
}

button {
  all: unset;
  cursor: pointer;
}

a {
  all: unset;
  cursor: pointer;
}
