.main {
    background: var(--black);
    display: flex;
}

.article {
    display: flex;
    flex-direction: column;
}

.imgContainer {
    position: relative;
    width: 100%;
    padding: 50px 44px;
}

.h1 {
    color: var(--white);
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -2px;
}

.h1Violet {
    color: var(--violet);
    font-family: Montserrat;
    text-align: center;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1px;
}

.br {
    display: none;
}