.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 23px;
  width: fit-content;

  padding: 4px 6px;
  gap: 10px;
  border-radius: 4px;
}

.orange {
  composes: wrapper;
  background-color: var(--orange-10);
  color: var(--orange-70);
}

.green {
  composes: wrapper;
  background-color: var(--green-10);
  color: var(--green-70);
}

.pink {
  composes: wrapper;
  background-color: var(--pink-10);
  color: var(--pink-70);
}

.blue {
  composes: wrapper;
  background-color: var(--blue-10);
  color: var(--blue-70);
}

.purple {
  composes: wrapper;
  background-color: var(--violet-8);
  color: var(--violet);
}
