@value tablet, mobile from "@/styles/breakpoints.css";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;

  background-color: var(--gray-10);
}

.greetings {
  margin: 10px 0 38px;
  font-size: 2rem;
  font-weight: var(--font-normal);

  @media all and (tablet) {
    margin: 8px 0 60px;
  }

  @media all and (mobile) {
    margin: 8px 0 40px;
  }
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 24px;
}

.checkboxInputContainer {
  display: flex;
  gap: 8px;
  align-items: center;
}

.checkboxInput {
  width: 20px;
  height: 20px;
}

.checkboxContent {
  color: var(--gray-70);
  font-family: Pretendard;
  font-size: 1.6rem;
  font-weight: var(--font-light);
}

.memberStatusContainer {
  display: flex;
  flex-direction: row;
  font-size: 1.6rem;
  gap: 7px;
  margin-top: 24px;
  align-items: center;
}

.linkTitle {
  color: var(--violet);
  font-size: 1.6rem;
}
