@value desktop, tablet from "@/styles/breakpoints.css";

.itemContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 20px;
  background: var(--gray-10);
  padding: 40px;

  @media all and (mobile) {
    padding: 24px;
  }
}
.container {
  position: relative;
}

.sideMenuContainer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
}

.headerContainer {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  width: 100%;
}

.childrenContainer {
  position: absolute;
  top: 80px;
  left: 70px;

  @media all and (tablet) {
    left: 165px;
  }

  @media all and (desktop) {
    left: 300px;
  }
}
