@value mobile from "@/styles/breakpoints.css";

.itemContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 20px;
  background: var(--gray-10);
  padding: 40px;

  @media all and (mobile) {
    padding: 24px;
  }
}
