.container {
  display: flex;
  flex-direction: row;
}

.eachContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  border: 1px solid var(--gray-30);
  background-color: var(--white);
}

.leftContainer {
  composes: eachContainer;
  border-radius: 4px 0px 0px 4px;
}

.rightContainer {
  composes: eachContainer;
  border-radius: 0px 4px 4px 0px;
}

.large {
  composes: container;
  width: 80px;
  height: 40px;
}

.small {
  composes: container;
  width: 72px;
  height: 36px;
}
