@value tablet, mobile from "@/styles/breakpoints.css";

.cardContainer {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border-radius: 6px;
  border: 1px solid var(--gray-30);
  background: var(--white);
  padding: 20px;
  width: 314px;
  gap: 10px;

  @media all and (tablet) {
    flex-direction: row;
    width: 544px;
    gap: 20px;
  }

  @media all and (mobile) {
    padding: 12px;
    gap: 10px;
    width: 284px;
  }
}

.contentContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;

  @media all and (mobile) {
    gap: 6px;
  }
}

.cardImg {
  width: 100%;
  height: 160px;

  @media all and (tablet) {
    width: 90px;
    height: 53px;
  }

  @media all and (mobile) {
    height: 151px;
  }
}

.cardTitle {
  color: var(--gray-70);
  font-family: Pretendard;
  font-size: 1.6rem;
  font-weight: var(--font-normal);
}

.subContentContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;

  @media all and (tablet) {
    flex-direction: row;
    gap: 6px;
  }
}

.chipContainer {
  display: flex;
  gap: 6px;
  width: fit-content;
}

.bottomContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;

  @media all and (tablet) {
    flex: 1;
  }
}

.dateContainer {
  display: flex;
  gap: 6px;
  align-items: center;

  @media all and (mobile) {
    gap: 4px;
  }
}

.dateIcon {
  width: 18px;
  height: 18px;

  @media all and (mobile) {
    width: 14px;
    height: 14px;
  }
}

.date {
  color: var(--gray-50);
  font-family: Pretendard;
  font-size: 1.2rem;
  font-weight: var(--font-normal);

  @media all and (mobile) {
    font-size: 1rem;
  }
}

.profileChip {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #a3c4a2;
  color: var(--white);
  text-align: center;
  font-family: Montserrat;
  font-size: 1.3rem;
  line-height: 24px;
  font-weight: var(--font-bold);
  display: flex;
  justify-content: center;
  align-items: center;

  @media all and (mobile) {
    width: 22px;
    height: 22px;
    font-size: 1rem;
  }
}
