@value tablet, pc from "@/styles/breakpoints.css";

.mainOuter {
  display: flex;
  @media all and (tablet) {
  }
  @media all and (pc) {
  }
}

.main {
  display: flex;
  flex-direction: column;
  @media all and (tablet) {
    display: flex;
    flex-direction: column;
  }
  @media all and (pc) {
    display: flex;
    flex-direction: column;
  }
}

.mainContainer {
  background: var(--gray-10);
  width: calc(100vw - 83.6px);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 17px 12px 24px 12px;
  gap: 12px;
  @media all and (tablet) {
    width: calc(100vw - 176.6px);
    padding: 20px 20px 48px 20px;
  }
  @media all and (pc) {
    width: calc(100vw - 316.6px);
    padding: 20px 20px 48px 20px;
  }
}

.returnButton {
  color: var(--gray-70);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 9px;
  display: flex;
  gap: 6px;
  @media all and (tablet) {
    font-size: 16px;
    margin-bottom: 13px;
  }
  @media all and (pc) {
    font-size: 16px;
    margin-bottom: 13px;
  }
}

.marginDiv {
  margin-bottom: 31px;
  @media all and (tablet) {
    margin-bottom: 36px;
  }
  @media all and (pc) {
    margin-bottom: 28px;
  }
}
