.body {
  background: var(--black);
  display: flex;
  flex-direction: column;
  padding: 50px 16px;
  @media (min-width: 768px) {
    padding: 100px 40px;
  }

  @media (min-width: 1200px) {
    padding: 100px auto;
  }
}

.article {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 0 28px;
}

.imgContainer {
  position: relative;
  width: 100%;
  max-width: 722px;
  height: 52vw;
  max-height: 423px;
}

.h1Container {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  text-align: center;
  @media (min-width: 768px) {
    flex-direction: row;
    gap: 20px;
    padding-top: 50px;
  }

  @media (min-width: 1200px) {
  }
}

.h1 {
  color: var(--white);
  text-align: center;
  font-size: 37px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -2px;

  @media (min-width: 768px) {
    font-size: 56px;
    line-height: 100%;
  }
  @media (min-width: 1200px) {
    font-size: 76px;
  }
}

.h1Violet {
  color: var(--violet);
  font-family: Montserrat;
  text-align: center;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1px;
  @media (min-width: 768px) {
    font-size: 56px;
    line-height: 100%;
  }
  @media (min-width: 1200px) {
    font-size: 76px;
  }
}

.serviceDescription {
  padding-top: 35px;
  color: var(--white);
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -1px;
  padding-bottom: 35px;
  @media (min-width: 768px) {
    font-size: 16px;
  }
  @media (min-width: 1200px) {
    font-size: 18px;
  }
}

.pointContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.point {
  background: var(--gray-80);
  border-radius: 8px;
  width: 100%;
  max-width: 1200px;
  margin: 35px 0;
  height: auto;
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    margin: 45px 0;
  }
  @media (min-width: 1200px) {
    margin: 55px 0;
    flex-direction: row;
  }
}

.pointHeader {
  text-align: center;

  @media (min-width: 768px) {
    text-align: left;
    padding-left: 60px;
  }
  @media (min-width: 1200px) {
  }
}

.pointH1 {
  color: var(--gray-40);
  font-feature-settings:
    'clig' off,
    'liga' off;
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 60px 0;
  @media (min-width: 1200px) {
    padding: 120px 0;
  }
}

.pointDescription {
  color: var(--white);
  font-feature-settings:
    'clig' off,
    'liga' off;
  font-family: Pretendard;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
  padding-bottom: 250px;

  @media (min-width: 768px) {
    padding-bottom: 200px;
  }
  @media (min-width: 1200px) {
    padding-bottom: 0px;
    width: 300px;
  }
}

.pointDescriptionSpan {
  composes: pointDescription;
  @media (min-width: 1200px) {
    color: var(--gray-30);
  }
}

.pointImgContainer1 {
  position: relative;
  width: 100%;
  height: 65vw;
  max-height: 497px;
  @media (min-width: 1200px) {
    margin-top: 103px;
  }
}

.pointImg1 {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 80vw;
  height: 65vw;
  max-width: 594px;
  max-height: 497px;
}

.point2 {
  background: var(--gray-80);
  border-radius: 8px;
  width: 100%;
  max-width: 1200px;
  margin: 35px 0;
  height: auto;
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    margin: 45px 0;
  }
  @media (min-width: 1200px) {
    margin: 55px 0;
    flex-direction: row-reverse;
  }
}

.pointHeader2 {
  text-align: center;

  @media (min-width: 768px) {
    text-align: left;
    padding-left: 60px;
  }
  @media (min-width: 1200px) {
    padding-right: 250px;
  }
}

.pointImgContainer2 {
  display: flex;
  position: relative;
  justify-content: center;
  @media (min-width: 1200px) {
    padding-top: 100px;
  }
}

.pointImg2 {
  width: 58vw;
  height: 64vw;
  max-width: 436px;
  max-height: 502px;
}
