@value desktop, tablet from "@/styles/breakpoints.css";

.container {
  width: 100vw;
  height: 100%;
  display: flex;
}

.sideBarContainer {
  display: flex;
  flex-direction: column;
}

.itemContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 20px;
  background: var(--gray-10);
  width: calc(100vw - 316.6px);
  padding: 40px;

  @media all and (tablet) {
    width: calc(100vw - 176.6px);
    padding: 40px;
  }

  @media all and (mobile) {
    width: 100%;
    padding: 24px;
  }
}
