@value desktop, tablet, mobile from "@/styles/breakpoints.css";

.nestedLayout {
  composes: itemContainer from '@/components/layout/layout.module.css';
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.topContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
