.nestedLayout {
  composes: itemContainer from '@/components/layout/layout.module.css';
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.topContainer {
  display: flex;
  width: 620px;
  align-items: center;
  justify-content: space-between;
}
