.textarea {
  resize: none;
  border-radius: 6px;
  border: 1px solid var(--gray-30);
  background: var(--white);
  outline: none;
  width: 100%;
  height: 110px;
  padding: 15px 16px;
  color: var(--gray-70);
  font-family: Pretendard;
  font-size: 1.6rem;
  font-weight: 400;
}
.textarea::placeholder {
  color: var(--gray-40);
}
.textarea:focus {
  border: 1px solid var(--violet);
}
