.headerContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  padding: 16px;
  flex-shrink: 0;
  background: var(--white, #fff);
}

.logo {
  display: none;
  padding: 4px 2px 0 4px;
  justify-content: center;
  align-items: center;

  @media (min-width: 768px) {
    display: inline-flex;
  }
}

.smallLogo {
  display: inline-block;
  padding: 4px 2px 0 4px;
  justify-content: center;
  align-items: center;

  @media (min-width: 768px) {
    display: none;
  }
}

.links {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 400;
  gap: 20px;

  @media (min-width: 768px) {
    gap: 36px;
  }
}

.darkBg {
  background: var(--black, #000);
  color: var(--white, #fff);
}

.lightBg {
  background: var(--white, #fff);
  color: var(--black, #333236);
}
