@value tablet, desktop from "@/styles/breakpoints.css";

.headerContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  padding: 16px 24px 16px 16px;
  flex-shrink: 0;
  background: var(--white);

  @media all and (tablet) {
    padding: 16px 40px 16px 16px;
  }

  @media all and (desktop) {
    padding: 16px 80px 16px 16px;
  }
}

.logo {
  display: none;
  padding: 4px 2px 0 4px;
  justify-content: center;
  align-items: center;

  @media all and (tablet) {
    display: inline-flex;
  }

  @media all and (desktop) {
    display: inline-flex;
  }
}

.smallLogo {
  display: inline-block;
  padding: 4px 2px 0 4px;
  justify-content: center;
  align-items: center;

  @media all and (tablet) {
    display: none;
  }

  @media all and (desktop) {
    display: none;
  }
}

.links {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  font-weight: var(--font-light);
  gap: 20px;

  @media all and (tablet) {
    gap: 36px;
  }

  @media all and (desktop) {
    gap: 36px;
  }
}

.darkBg {
  background: var(--black);
  color: var(--white);
}

.lightBg {
  background: var(--white);
  color: var(--gray-70);
}
