.headerContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 7rem;
  padding: 1.6rem;
  flex-shrink: 0;
  background: var(--white, #fff);
}

.logo {
  display: none;
  padding: 0.4rem 0.2rem 0 0.4rem;
  justify-content: center;
  align-items: center;

  @media (min-width: 768px) {
    display: inline-flex;
  }
}

.smallLogo {
  display: inline-block;
  padding: 0.4rem 0.2rem 0 0.4rem;
  justify-content: center;
  align-items: center;

  @media (min-width: 768px) {
    display: none;
  }
}

.links {
  display: flex;
  align-items: center;
  color: var(--black, #333236);
  font-size: 1.6rem;
  font-weight: 400;
  gap: 2rem;

  @media (min-width: 768px) {
    gap: 3.6rem;
  }
}
