@value tablet, mobile from "@/styles/breakpoints.css";

.input {
  display: none;
}

.imgInputContainer {
  width: 78px;
  height: 78px;

  @media all and (mobile) {
    width: 58px;
    height: 58px;
  }
}

.large {
  width: 182px;
  height: 182px;
}

.noImgContainer {
  border-radius: 6px;
  padding: 24px;
  background: #f5f5f5;
  width: fit-content;
  cursor: pointer;

  @media all and (mobile) {
    padding: 19px;
  }
}

.large > .noImgContainer {
  padding: 76px;
}

.noImgContainer > img {
  width: 28px;
  height: 28px;
  @media all and (mobile) {
    width: 21px;
    height: 21px;
  }
}
