@value tablet, mobile from "@/styles/breakpoints.css";

.input {
  display: none;
}

.imgInputContainer {
  width: 78px;
  height: 78px;
  position: relative;

  @media all and (mobile) {
    width: 58px;
    height: 58px;
  }
}

.profileContainer {
  display: flex;
  flex-direction: column;
}

.profileContainerBtn {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  cursor: pointer;
}

.profileBtn {
  display: flex;
  justify-content: center;
  background-color: var(--violet);
  color: var(--white);
  padding: 8px 13px;
  border-radius: 4px;

  font-weight: var(--bold);
  font-size: 1.3rem;
}

.large {
  width: 182px;
  height: 182px;
}

.noImgContainer {
  border-radius: 6px;
  padding: 24px;
  width: fit-content;
  cursor: pointer;

  @media all and (mobile) {
    padding: 19px;
  }
}

.large > .noImgContainer {
  padding: 76px;
}

.noImgContainer > img {
  width: 28px;
  height: 28px;
  @media all and (mobile) {
    width: 21px;
    height: 21px;
  }
}
