.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--white);
  width: fit-content;
  padding: 32px 28px 28px;
  border-radius: 8px;
  gap: 20px;
}

.title {
  font-weight: var(--font-bold);
  font-size: 2.4rem;
  margin-bottom: 12px;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: 4px;
}
