@value desktop, tablet from "@/styles/breakpoints.css";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--white);
  padding: 32px 28px 28px;
  border-radius: 8px;
  gap: 20px;
  width: 100%;
  max-width: 350px;

  @media all and (tablet) {
    max-width: 600px;
  }

  @media all and (desktop) {
    max-width: 100%;
  }
}

.title {
  font-weight: var(--font-bold);
  font-size: 2.4rem;
  margin-bottom: 12px;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: 4px;
}
