@value mobile, tablet from "@/styles/breakpoints.css";

.container {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--white);
  border-bottom: 2px solid var(--gray-30);
  height: 70px;
}

.buttonContainer {
  display: flex;
  gap: 16px;
  margin-right: 15px;

  @media all and (tablet) {
    gap: 12px;
    margin-right: 0px;
  }

  @media all and (mobile) {
    gap: 6px;
    margin-right: -10px;
  }
}

.vectorImage {
  margin-right: 12px;
  margin-left: 16px;

  @media all and (mobile) {
    margin-left: 0px;
  }
}

.button {
  composes: container from '@/components/button/button.module.css';
  display: flex;
  width: auto;
  gap: 8px;
  border-radius: 8px;
  border: 1px solid var(--gray-30);
  padding: 11px 16px 10px;
  font-size: 1.6rem;
  color: var(--gray-50);
  align-items: center;
  justify-content: center;

  @media all and (tablet) {
    padding: 10px 16px 9px;
    font-size: 1.4rem;
  }

  @media all and (mobile) {
    padding: 7px 12px 6px;
    font-size: 1.4rem;
  }
}

.buttonImg {
  @media all and (mobile) {
    display: none;
  }
}

.folderName {
  position: absolute;
  left: 40px;
  font-size: 2rem;
  font-weight: var(--font-bold);

  @media all and (tablet) {
    display: none;
  }

  @media all and (mobile) {
    display: none;
  }
}

.userName {
  padding: 26px 80px 25px 12px;
  font-size: 16px;
  font-weight: var(--font-normal);

  @media all and (tablet) {
    padding-right: 40px;
  }

  @media all and (mobile) {
    display: none;
  }
}
