.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;

  border-radius: 8px;
  border: 1px solid var(--gray-30);
  background-color: var(--white);
  font-weight: var(--font-normal);
  font-size: 1.6rem;
  box-sizing: border-box;
  width: 332px;
  height: 70px;

  @media all and (tablet) {
    width: 247px;
    height: 68px;
  }
  @media all and (mobile) {
    width: 260px;
    height: 58px;
  }
}
.contentContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.circle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}
