@value tablet, mobile from "@/styles/breakpoints.css";

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  gap: 12px;
  border-radius: 8px;
  border: 1px solid var(--gray-30);
  background-color: var(--white);
  font-weight: var(--font-bold);
  font-size: 1.8rem;

  width: 354px;
  height: 70px;

  @media all and (tablet) {
    width: 544px;
    height: 70px;
  }

  @media all and (mobile) {
    width: 284px;
    height: 60px;
  }
}
